@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  background: #f5f5f5;
  font-family: "Nunito", sans-serif;
}

.header {
  width: 100%;
  height: 56px;
  background: #3f51b5;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo > a {
  color: #fff;
}

.header-navigation-ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.header-navigation-li {
  margin: 0 0 0 15px;
  padding: 0;
  display: block;
}

.header-navigation-li > a {
  color: #fff;
}

@media (min-width: 600px) {
  .header {
    height: 64px;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.layout-page {
  background: #fff;
  height: 100%;
  flex: 1;
  padding: 30px;
}

